@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  background-color: white;
}

.bg-colorGradient {
  content: "";
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
  width: 100%;
  max-width: 640px;
  height: 100%;
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]:focus {
  outline: 1px solid #a53860;
}

@layer utilities {
  #addTaskModal-title,
  #deleteTaskModal-title,
  #editTaskModal-title {
    @apply text-2xl font-bold text-secondary;
  }
}
